html, body {
    height: 100%;
    background-color: rgb(37, 35, 35);
}
  
body {
    margin: 0;
    /* Dynamisches Layout */
    display: flex;

    /* Horizontale Zentrierung. */
    justify-content: center;

    /* Vertikale Zentrierung. */
    align-items: center;
}

canvas {
    border: 6px;
    border-style: solid;
    border-radius: 100px;
    border-color: yellow;
    background-color: black;
}

#container {
    border: 5px;
    border-style: solid;
    border-color: black;
    background-color: rgb(107, 107, 107);
}

#headline {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    background-color: rgb(161, 161, 161);
    text-shadow: 0 0 10px black;
    margin-left: 20px;
    padding-left: 10px;
    margin-right: 20px;
    padding-right: 10px;
}

#interactive {
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;

    background-color: rgb(206, 113, 0);
}

#interactive:hover {
    background-color: orange;
}

#interactive:active {
    background-color: rgb(206, 113, 0);
}

#automatic {
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;

    background-color: green;
}

#automatic:hover {
    background-color: lime;
}

#automatic:active {
    background-color: green;
}

#constant {
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;

    background-color: darkred;
}

#constant:hover {
    background-color: red;
}

#constant:active {
    background-color: darkred;
}

#input1 {
    width: 90px;
    height: 25px;

    background-color: gray;
    color: yellow;
}

#input2 {
    width: 90px;
    height: 25px;

    background-color: gray;
    color: yellow;
}

#tablecontainer {
    margin-right: 1200px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-collapse: collapse;
}

td, th {
    border: 2px solid red;
    text-align: left;
    padding: 8px;
    background-color: gray;
}

#top {
    background-color: rgb(112, 214, 255);
}

.typerow {
    background-color: rgb(112, 214, 255);
}

.typerow:hover {
    background-color: rgb(0, 124, 196);
}

#bild1 {
    position: absolute;
    margin-left: 675px;
    margin-top: -390px;
}

#bild2 {
    position: absolute;
    margin-left: 15px;
    margin-top: -390px;
}

#signatur {
    position: absolute;
    text-align: center;
    margin-left: 1135px;
    margin-top: 420px;
    color: red;
    font-size: 18px;
}